/* Add CSS Styling */
.button-dark, .button-light {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.button-dark {
    color: #ffffff;
    background-color: #000000;
}

.button-light {
    color: rgb(0%, 0%, 0%);
    background-color: rgb(100%, 100%, 0%);
}